div[role="alert"] {
    @apply bg-red-600 rounded-md p-3 text-neutral-50
}

img {
    max-width: 100px;
    height: auto;
    display: block;
    width: auto;
    aspect-ratio: 1/1;
    max-height: 100px;
}